# Ignore all IntelliJ IDEA project files, everywhere
**/*.iml

# Ignore IntelliJ IDEA project root directory
.idea

# Ignore artifacts from toolchain
node_modules/
bower_components/
app/lib/
npm-debug.log

# Ignore linux swap files
*~
*.swp

# Ignore all 'orig' files left by a merge conflict
*.orig
