.scanForm {
    padding: 10px;
    border-style: solid;
    border-color: #155E23;
}
#container {
    padding: 10px;
    width: 400px;
    margin: 20px auto;
}
#footer {
    border-style: solid;
    border-color: #155E23;
    position: relative;
    float: left;
    left: 0px;
    bottom: 0px;
    padding: 10px 20px;
}
.prime {
    font-weight: bold;
    color: blue;
    border-color: blue;
}
.valid {
    font-weight: bold;
    color: green;
    border-color: green;
}
.invalid {
    font-weight: bold;
    color: red;
    border-color: red;
}
body {
    color: #666666;
    font-family: arial;
    text-align: center;
    background-image: url(../images/satinweave.png);
}
input {
    margin: 5px;
}
h1 {
    margin: 0px;
}
h3 {
    margin: 0px;
}
